<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dls</title>
    <link rel="stylesheet" href="/static/css/shop.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/images/logo.jpeg" alt="Company Logo" width="50px">
        </div>
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/templates/shopcat.html">Shop Category</a></li>
                    <li><a href="/templates/expertsup.html">Expert Support</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main class="shop-category">
        <h2>Shop Categories</h2>
        <div class="category-grid">
            <div class="category-item">
                <img src="/static/images/iphone13 promax.jpeg" alt="Category 1">
                <h5>Iphone 13 Pro Max</h5>
            </div>
            <div class="category-item">
                <img src="/static/images/redmi13 proplus.jpeg" alt="Category 2">
                <h5>Redmi 13 Pro Plus</h5>
            </div>
            <div class="category-item">
                <img src="/static/images/samsunga54.webp" alt="Category 3">
                <h5>Samsung A54</h5>
            </div>
            <div class="category-item">
                <img src="/static/images/oppo find X5 pro.jpeg" alt="Category 4">
                <h5>Oppo Find X5 Pro</h5>
            </div>
            <div class="category-item">
                <img src="/static/images/samsungS24 ultra.jpeg" alt="Category 1">
                <h5>Samsung S24 Ultra</h5>
            </div>
            <div class="category-item">
                <img src="/static/images/oppo reno 10 pro.jpeg" alt="Category 2">
                <h5>Oppo Reno 10 Pro</h5>
            </div>
            <div class="category-item">
                <img src="/static/images/redmi 12t pro.jpeg" alt="Category 3">
                <h5>Redmi 12T Pro Pro</h5>
            </div>
            <div class="category-item">
                <img src="/static/images/xiaomi 13 ultra.jpeg" alt="Category 4">
                <h5>Xiaomi 13 Ultra</h5>
            </div>
            <div class="category-item">
                <img src="/static/images/huawei mate 40Pro.jpeg" alt="Category 1">
                <h5>Huawei Mate 40 Pro</h5>
            </div>
        </div>
    </main>
   

</body>
</html>
